[submodule "contrib/tree-sitter-cpp"]
	path = contrib/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp
[submodule "contrib/tree-sitter"]
	path = contrib/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "contrib/glob"]
	path = contrib/glob
	url = https://github.com/p-ranav/glob
